table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.mat-column-raisonSociale {
    width: 20% !important;
}

.mat-column-ninea {
    width: 15% !important;
}

.mat-column-emailEntreprise {
    width: 19% !important;
}

.mat-column-telephoneEntreprise {
    width: 12% !important;
}

.mat-column-adresse {
    width: 15% !important;
}

.mat-column-soldeGlobal {
    width: 10% !important; //80
}

.mat-column-status {
    width: 4% !important;
}

.mat-column-Modifier {
    width: 4% !important;
}

details .mat-column-details {
    width: 1% !important;
}

.fontAwsModif {
    color: blue;
}

.actif {
    color: green;
}

.bloquer {
    color: red;
}