.boutonBloquer {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.boutonAjouter {
    margin-left: 5.2%;
    width: 18.5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    padding: 2px 0px 2px 0px;
}

.rowAjout {
    margin-bottom: 3%;
}

.tabListe {
    margin-top: 1%;
    margin-bottom: 1%;
}

.modif {
    font-size: 180%;
}

.fontAwsModif {
    font-size: 135%;
}

.table th,
.table td {
    text-align: center;
}