<div class="container">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-8">
            <mat-form-field class="col-10">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
            </mat-form-field>
        </div>
    </div>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- raisonSociale Column -->
        <ng-container matColumnDef="raisonSociale">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Raison Sociale </th>
            <td mat-cell *matCellDef="let row"> {{row.raisonSociale}} </td>
        </ng-container>

        <!-- ninea Column -->
        <ng-container matColumnDef="ninea">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NINEA </th>
            <td mat-cell *matCellDef="let row"> {{row.ninea}} </td>
        </ng-container>

        <!-- emailEntreprise Column -->
        <ng-container matColumnDef="emailEntreprise">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row"> {{row.emailEntreprise}} </td>
        </ng-container>

        <!-- telephoneEntreprise Column -->
        <ng-container matColumnDef="telephoneEntreprise">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.telephoneEntreprise}} </td>
        </ng-container>

        <!-- adresse Column -->
        <ng-container matColumnDef="adresse">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresse </th>
            <td mat-cell *matCellDef="let row"> {{row.adresse}} </td>
        </ng-container>

        <!-- soldeGlobal Column -->
        <ng-container matColumnDef="soldeGlobal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Solde Global </th>
            <td mat-cell *matCellDef="let row" [style.color]="" class="col-sm-2"> {{row.soldeGlobal | number}} </td>
        </ng-container>

        <!-- details Column -->
        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row" [style.color]="" (click)="show(row.id)"><i class="fas fa-search"></i></td>
        </ng-container>

        <!-- Ajout compte Column -->
        <ng-container matColumnDef="ajoutCompte">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row" [style.color]="" (click)="addCompte(row.id)"> <i class="fas fa-plus-square"></i></td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row" [style.color]="" [ngClass]="{'bloquer':row.status=='Bloqué','actif':row.status=='Actif'}" (click)="bloquer(row.id,row.status)"> <i class="fas fa-lock" *ngIf="row.status=='Bloqué'"></i> <i class="fas fa-lock-open" *ngIf="row.status=='Actif'"></i></td>
        </ng-container>

        <!-- Modifier Column -->
        <ng-container matColumnDef="Modifier">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row" [style.color]="" (click)="updatePart(row.id)"> <i class="fas fa-edit fontAwsModif"></i></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>

    </table>

    <mat-paginator [pageSizeOptions]="[10, 15, 25, 100]"></mat-paginator>
</div>