.textSAT {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 100%;
    text-decoration: none !important;
}

.bgcHeader {
    background-color: rgba(207, 204, 204, 0.171);
}

.MonLogo {
    height: 100% !important;
    width: 100% !important;
    padding: 0.8% 0% 2% 0% !important;
}

.sansPad {
    padding: 0px !important;
}