<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink="inscription">Inscription</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="entreprises/liste">Lister partenaires</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="nouveau/depot">Dêpot</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="changer/compte">Gestion des comptes</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li routerLinkActive="active">
                <a routerLink="connexion">Connexion</a>
            </li>
            <li>
                <a style="cursor: pointer">Déconnexion</a>
            </li>
        </ul>
    </div>
</nav>