<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="">SA Transfert</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="entreprises/liste">Partenaires</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="nouveau/depot">Dêpot</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="inscription">Inscription</a>
            </li>
            <li class="nav-item" *ngIf="connecter">
                <a class="nav-link" (click)="logOut()" style="cursor: pointer">Déconnexion</a>
            </li>
        </ul>
    </div>
</nav>-->
<!-- Topbar -->
<header class="main-header">
    <!-- Logo -->
    <a routerLink="/accueil" class="logo sansPad">
        <!--mini logo for sidebar mini 50x50 pixels-->
        <span class="logo-mini"><b>SAT</b></span>
        <!-- logo for regular state and mobile devices -->

        <span class="logo-lg textSAT">SA Transfert</span>
        <!--<span class="logo-lg"><img src="assets/img/logo2.png" class="MonLogo" alt="logo SAT"></span>-->

    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Les notifications etaient ici -->
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/dist/img/Laye.png" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{ nom }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="assets/dist/img/Laye.png" class="img-circle" alt="User Image">

                            <p>
                                {{ nom }}
                                <small>{{MonPoste}}</small>
                            </p>
                        </li>
                        <!-- Menu Body 
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </div>
                            <!-- /.row 
                        </li>-->
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Paramètres</a>
                            </div>
                            <div class="pull-right">
                                <a (click)="logOut()" class="btn btn-default btn-flat">Déconnexion</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>