.photo {
    margin-left: 1.35%;
    margin-right: 1.35%;
}

.nom {
    padding: 0px !important;
}

// .mat-form-field-infix {
//     border: 0px !important;
//     padding: 0px !important;
// }
.backg{
    background-color: white;
    border:1px solid #0000003b;
    padding:1px;
}
.fontAw{
    background-color: white;
}