<div class="">
    <h1>SA TRANSFERT</h1>
    <h3 class="text-center titre">Reçu d'envoi</h3>
    <h2>Bénéficiaire</h2>
    <p>Nom : rep.Bénéficiaire.Nom</p>
    <p>Pays : rep.Bénéficiaire.Pays</p>
    <p>Téléphone : rep.Bénéficiaire.Téléphone</p>


    <h2>Envoyeur</h2>
    <p>Nom : rep.Envoyeur.Nom</p>
    <p>NCI : rep.Envoyeur.NCI</p>
    <p>Pays : rep.Envoyeur.Pays</p>
    <p>Téléphone : rep.Envoyeur.Téléphone</p>
    <h2>Transaction</h2>
    <p>Code : rep.Transaction.CodeTransaction</p>
    <p>Commissions TTC : rep.Transaction.CommissionsTTC </p>
    <p>Pays : rep.Transaction.Pays</p>
    <p>Montant Envoyé : rep.Transaction.MontantEnvoyé</p>
    <p>Total : rep.Transaction.Total</p>
</div>