table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
    //text-align: center !important;
}

.mat-column-numeroCompte {
    width: 45%;
}

.mat-column-solde {
    width: 45%;
}

.mat-column-info {
    width: 10%;
}