<div class="row grosseDiv">
    <div class="col-sm-6 ">
        <form [formGroup]="affectationForm" (ngSubmit)="onSubmit()" class="depot depotForm">
            <div class="form-group">
                <label for="utilisateur">Collaborateur</label>
                <div class="input-group col-sm-12">
                    <span class="input-group-addon"><i class="fas fa-sort-numeric-up"></i></span>
                    <select formControlName="utilisateur" id="utilisateur" class="form-control" (change)="getUserChoisi($event.target.value)">
                      <option *ngFor="let user of users" value="{{user.id}}">{{user.nom}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="compte">Compte</label>
                <div class="input-group col-sm-12">
                    <span class="input-group-addon"><i class="fas fa-file-invoice-dollar"></i></span>
                    <select formControlName="compte" id="compte" class="form-control">
                       <option *ngFor="let compte of comptes" value="{{compte.id}}">{{compte.numeroCompte}}</option>
                    </select>
                </div>
            </div>
            <div class="row send">
                <button type="submit" class="btn btn-primary col-sm-4 boutonSend col-sm-offset-4">Affecter</button>
            </div>
        </form>
        <div class="box box-success">
            <!-- /.box-header -->
            <div class="box-body">
                <table #dataTable class="display cell-border" style="width:100%">
                    <caption>Historiques des comptes affectés à cet utilisateur</caption>
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Compte</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>25/08/2019</td>
                            <td>1408 4125 6325</td>
                        </tr>
                        <tr>
                            <td>20/08/2019</td>
                            <td>9854 7256 3578</td>
                        </tr>
                        <tr>
                            <td>10/08/2019</td>
                            <td>17415 3652 7851</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-sm-6 partForm box-primary" *ngIf="afficherFormUser">
        <p class="text-center textInfo">Information générale de l'utilisateur</p>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="">
            <div class="row">
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="far fa-building"></i></span>
                        <input type="text" id="nom" class="form-control" formControlName="nom" placeholder="Nom" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="fas fa-check"></i></span>
                        <input type="text" id="email" class="form-control" formControlName="email" placeholder="Email" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="telephone">Téléphone</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="fas fa-map-marker-alt"></i></span>
                        <input type="text" id="telephone" class="form-control" formControlName="telephone" placeholder="Téléphone" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nci">Numéro carte d'identité</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="text" id="nci" class="form-control" formControlName="nci" placeholder="Numéro carte d'identité" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="poste">Poste</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="fas fa-phone-square"></i></span>
                        <input type="text" id="poste" class="form-control" formControlName="poste" placeholder="Poste" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="soldeActu">Compte actuel</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="fas fa-file-invoice-dollar"></i></span>
                        <input type="text" id="soldeActu" class="form-control" formControlName="soldeActu" placeholder="Compte actuel" readonly>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>