<div class="container">
    <div class="row">
        <img class="logoSAT col-sm-3 pull-right" src="assets/img/logo1.png" alt="">
    </div>
</div>
<div class="container" id="contrat">
    <h4 class="text-center titre">CONTRAT DE PRESTATION DE SERVICE</h4>
    <p>Cet accord est fait le {{laDate | date:'dd-MM-yyyy' }} à Dakar </p>
    <p>Par et entre la société SA Transfert (le fournisseur) et la société {{nomEntreprise}} (le client).</p>
    <h5><strong>PRÉAMBULE :</strong> </h5>
    <p>CONSIDÉRANT QUE, le fournisseur fournit des services de transactions monétaires aux clients par l’intermédiaire du réseau du fournisseur , et considérant que le client souhaite effectuer des opérations d’envoi et de retrait d’argent pour le compte
        de sa clientèle grâce à la plateforme du fournisseur.</p>
    <p>MAINTENANT, ET PAR CONSÉQUENT, dans la considération des engagements et des accords antérieurs et mutuels ci-dessus explicités, les parties, ainsi légalement liées, conviennent mutuellement comme suit :</p>
    <h5><strong>DÉFINITIONS ET INTERPRÉTATION :</strong> </h5>
    <p>Dans cet accord, à moins que le contexte n’exige autrement, les mots suivants et les expressions auront les significations suivantes :</p>
    <p>« Espèces » fait référence aux billets et pièces de monnaie relatifs à la devise... ;</p>
    <p>« Date effective » signifie, nonobstant la date de signature des accords définitifs, la date de signature ;</p>
    <p>« Service du fournisseur » signifie les services de transfert d’argent fournis par la SA Transfert ;</p>
    <p>« Code de transaction » signifie le code envoyé au bénéficiaire pour lui permettre de retirer le montant transféré;</p>
    <h5><strong>DURÉE DE L’ACCORD :</strong> </h5>
    <p>Cette accord à une durée de 5 ans à partir de la date effective et renouvelable par les partis concernés.</p>
    <h5><strong>OPÉRATION ET PORTÉE</strong> </h5>
    <p>Ce présent contrat donne au client le droit d’utiliser la plateforme mise en place par la société SA Transfert dans le but d’effectuer des opérations d’envois et de retraits pour le compte de sa clientèle. Il est formellement interdit au client de
        signer des accords de sous-traitance basé sur ce dit contrat sans en avisé le fournisseur. Les transactions vont se déroulées comme suit :</p>
    <p>En cas d’envoi,<br> Après encaissement du montant à envoyer et des frais (en espèce), le client devra procéder à l’enregistrement des informations de l’envoyeur et de ceux du bénéficiaires. Un message sera dès lors envoyé à ces derniers pour leurs
        communiqués certaines informations sur la transaction. Le compte du client sera débiter du montant de l’opération ainsi que de 80% des frais payés par l’envoyeur (les 20% représentant la commission du client).</p>
    <p>En cas de retrait,<br> Les retraits seront effectués sur la base du code de transaction présenté par le bénéficiaire, si celui ci est valide le client devra compléter les informations du bénéficiaire avant de procéder au paiement. Après cela, le compte
        du client sera crédité du montant retiré et de 10% des frais payés par l’envoyeur.</p>
    <p>NB : En cas d’annulation, seul le montant transféré sera remboursé, les frais encaissés sont non remboursable. CONFIDENTIALITÉ
    </p>
    <p>Il est formellement interdit au client de communiquer les données de sa clientèle (numéro de téléphone, numéro de pièce d’identité, montant envoyé ou reçu…). Le non respect de cette close peut faire l’objet de poursuit civile et pénale.</p>
    <p><strong>PROPRIÉTÉ INTELLECTUELLE :</strong> </p>
    <p>Il est formellement interdit au client de copier la technologie du fournisseur, en cas de plagiat, des sanctions civiles, pénales et pécuniaires (dommages et intérêts) seront encourus par le dit client.</p>
    <h5><strong>SUSPENSION :</strong> </h5>
    <p>Le fournisseur à le droit de bloquer à tout moment le compte du client pour les causes suivantes :</p>
    <p>- manque d’étique</p>
    <p>- fraude</p>
    <p>- cas de blanchiment d’argent ou de financement d’activité terroriste</p>
    <p>- Et pour tout autre cause pouvant entraîner la rupture du contrat liant le client et le fournisseur</p>
    <h5><strong>INDEMNITÉ :</strong> </h5>
    <p>Le client accepte ici d’indemniser le fournisseur pour tout conflit légal prenant place en raison de l’abus du service par le client.</p>
    <h5><strong>AUTRES :</strong> </h5>
    <p>- Le client sera assigné un code qui correspondra au numéro de compte du client.</p>
    <p>- Si besoin le client peut demander l’ouverture d’autres comptes à son nom.</p>
    <p>- Pour effectuer des transactions le client devra déposer l’argent sur le(s) compte(s) tenu par le fournisseur.</p>
    <p>- Le fournisseur devra alors délivrer le montant sur le compte du client équivalent au paiement en espèces dans un délai de six (6) heures suivant la transaction.</p>
    <p>- L’envoyeur et le bénéficiaire seront informés des éléments de la transaction par un message texte émanant du fournisseur.</p>
    <div class="row signature">
        <div class="col-sm-2"><strong> Le fourniseur</strong></div>
        <div class="col-sm-2 pull-right"><strong>Le client</strong></div>
    </div>
</div>