<!-- Small boxes (Stat box) -->
<div class="row">

    <div class="col-lg-4 col-xs-6" *ngIf="lesDeux">
        <!-- small box -->
        <div class="small-box bg-teal-gradient">
            <div class="inner">
                <h3>{{nbreUsers}}</h3>
                <p>Collaborateurs</p>
            </div>
            <div class="icon">
                <em class="fas fa-users"></em>
            </div>
            <a routerLink="/lister/users" class="small-box-footer">Liste <em class="fa fa-arrow-circle-right"></em></a>
        </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-4 col-xs-6" *ngIf="SupAdmin">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{{nbrPart}}</h3>

                <p>Partenaires</p>
            </div>
            <div class="icon">
                <em class="far fa-building"></em>
            </div>
            <a routerLink="/entreprises/liste" class="small-box-footer">Liste <em
                    class="fa fa-arrow-circle-right"></em></a>
        </div>
    </div>


    <!-- ./col -->
    <div class="col-lg-4 col-xs-6" *ngIf="lesDeux">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>{{nbreCompte}}</h3>
                <p>Nombre total de compte</p>
            </div>
            <div class="icon">
                <em class="fas fa-donate"></em>
            </div>
            <a routerLink="/liste/comptes" class="small-box-footer">Liste <em class="fa fa-arrow-circle-right"></em></a>
        </div>
    </div>


    <!-- ./col -->
    <div class="col-lg-4 col-xs-6" *ngIf="lesDeux || caissier">
        <!-- small box -->
        <div class="small-box bg-teal-gradient">
            <div class="inner">
                <h3 *ngIf="lesDeux">{{soldePartenaire | number}}</h3>
                <p *ngIf="lesDeux">Solde total des comptes</p>

                <h3 *ngIf="caissier">{{nbrDepots | number}}</h3>
                <p *ngIf="caissier">Dêpots effectués</p>
            </div>
            <div class="icon">
                <em class="fas fa-dollar-sign" *ngIf="lesDeux"></em>
                <em class="fas fa-dollar-sign" *ngIf="caissier"></em>
            </div>
            <a routerLink="/liste/comptes" class="small-box-footer">Liste <em class="fa fa-arrow-circle-right"></em></a>
        </div>
    </div>



    <!-- ./col -->
    <div class="col-lg-4 col-xs-6" *ngIf="SupAdmin || caissier">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3 *ngIf="SupAdmin">{{soleSAT | number}}</h3>
                <p *ngIf="SupAdmin">Commissions SAT</p>

                <h3 *ngIf="caissier">{{moyenneDepot | number}}</h3>
                <p *ngIf="caissier">Moyenne des dêpots</p>
            </div>
            <div class="icon">
                <em class="fas fa-dollar-sign" *ngIf="SupAdmin"></em>
                <em class="fas fa-dollar-sign" *ngIf="caissier"></em>
            </div>
            <a routerLink="/entreprises/liste" class="small-box-footer">Liste <em
                    class="fa fa-arrow-circle-right"></em></a>
        </div>
    </div>


    <!-- ./col -->
    <div class="col-lg-4 col-xs-6" *ngIf="SupAdmin || caissier">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3 *ngIf="SupAdmin">{{soldeEtat | number}}</h3>
                <p *ngIf="SupAdmin">Taxes Etat</p>

                <h3 *ngIf="caissier">{{nbrComptes | number}}</h3>
                <p *ngIf="caissier">Comptes crédités</p>
            </div>
            <div class="icon">
                <em class="fas fa-landmark" *ngIf="SupAdmin"></em>
                <em class="fas fa-landmark" *ngIf="caissier"></em>
            </div>
            <a routerLink="/entreprises/liste" class="small-box-footer">Liste <em
                    class="fa fa-arrow-circle-right"></em></a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row carteGraph">
    <div [ngClass]="{'col-sm-6 noPadd': SupAdmin }">
        <!-- solid sales graph -->
        <div [ngClass]="{'box box-solid bg-teal-gradient blockG':true,'graphDepot': caissier }">
            <div class="box-header blockG">
                <i class="fa fa-th"></i>

                <h3 class="box-title" *ngIf="!caissier">Envois</h3>
                <h3 class="box-title" *ngIf="caissier">Dêpots</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn bg-teal btn-sm pull-right" data-widget="remove" title="Fermer"><i
                            class="fa fa-times"></i>
                    </button>
                    <button type="button" class="btn bg-teal btn-sm pull-right" data-widget="collapse"
                        title="Réduire"><i class="fa fa-minus"></i>
                    </button>

                </div>
            </div>
            <div class="box-body border-radius-none">
                <app-transaction-graph *ngIf="!caissier"></app-transaction-graph>
                <app-depot-graph *ngIf="caissier"></app-depot-graph>
            </div>

        </div>
        <!-- /.box -->
    </div>
    <div [ngClass]="{'col-sm-6 noPadd': SupAdmin,'col-sm-12': SupAdmin }" *ngIf="!caissier">
        <!-- solid sales graph -->
        <div [ngClass]="{'box box-solid bg-aqua':true,'blockD': SupAdmin}">
            <div class="box-header blockG">
                <i class="fa fa-th"></i>

                <h3 class="box-title">Retraits</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn bg-sarcelle btn-sm pull-right" data-widget="remove" title="Fermer"><i
                            class="fa fa-times"></i>
                    </button>
                    <button type="button" class="btn bg-sarcelle btn-sm pull-right" data-widget="collapse"
                        title="Réduire"><i class="fa fa-minus"></i>
                    </button>

                </div>
            </div>
            <div class="box-body border-radius-none">
                <app-retrait-gaph></app-retrait-gaph>
            </div>

        </div>
        <!-- /.box -->
    </div>
    <div class="col-sm-12 noPadd plus" *ngIf="SupAdmin">
        <!-- Map box -->
        <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header">
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-widget="remove"
                        title="Fermer">
                        <i class="fa fa-times"></i></button>
                    <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse"
                        data-toggle="tooltip" title="Réduire" style="margin-right: 5px;">
                        <i class="fa fa-minus"></i></button>
                </div>
                <!-- /. tools -->

                <i class="fa fa-map-marker"></i>

                <h3 class="box-title">Partenaires</h3>
            </div>
            <div class="box-body ">

                <iframe id="world-map"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7718.456052463744!2d-17.47238197552375!3d14.699692958957725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2ssn!4v1567853017255!5m2!1sfr!2ssn"
                    width="100%" height="220" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

            </div>
        </div>
        <!-- /.box -->
    </div>
</div>