.carteGraph{
    margin-left: 0%;
    margin-right: 1%;
}
.noPadd{
    padding: 0%;
}
.blockD{
    margin-left: 3%;
}
.blockG{
    margin-right: 3%;
}
.plus{
    width: 101.5% !important;
}
.graphDepot{
    width: 101% !important;
}