<form [formGroup]="entrepriseUpdForm" class="entrepriseForm" (ngSubmit)="onSubmit()" *ngIf="charger">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="raisonSociale">Raison Sociale</label>
                <div class="input-group col-12">
                    <span class="input-group-addon fontAw"><i class="far fa-building"></i></span>
                    <input matInput type="text" id="raisonSociale" class="form-control backg" formControlName="raisonSociale" placeholder="Raison Sociale">
                </div>
                <mat-error *ngFor="let validation of ValidationMsg.raisonSociale">
                    <mat-error class="error-message" *ngIf="entrepriseForm.get('raisonSociale').hasError(validation.type) && (entrepriseForm.get('raisonSociale').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </div>
            <div class="form-group">
                <label for="ninea">NINEA</label>
                <div class="input-group col-12">
                    <span class="input-group-addon fontAw"><i class="fas fa-check"></i></span>
                    <input matInput type="text" id="ninea" class="form-control backg" formControlName="ninea" placeholder="ninea">
                </div>
                 <mat-error *ngFor="let validation of ValidationMsg.ninea">
                    <mat-error class="error-message" *ngIf="entrepriseForm.get('ninea').hasError(validation.type) && (entrepriseForm.get('ninea').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </div>
            <div class="form-group">
                <label for="adresse">Adresse</label>
                <div class="input-group col-12">
                    <span class="input-group-addon fontAw"><i class="fas fa-map-marker-alt"></i></span>
                    <input matInput type="text" id="adresse" class="form-control backg" formControlName="adresse" placeholder="Adresse">
                </div>
                 <mat-error *ngFor="let validation of ValidationMsg.adresse">
                    <mat-error class="error-message" *ngIf="entrepriseForm.get('adresse').hasError(validation.type) && (entrepriseForm.get('adresse').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </div>
            <div class="form-group">
                <label for="emailEntreprise">Email de l 'entreprise</label>
                <div class="input-group col-12">
                    <span class="input-group-addon fontAw"><i class="fa fa-envelope"></i></span>
                    <input matInput type="text" id="emailEntreprise" class="form-control backg" formControlName="emailEntreprise" placeholder="Email de l 'entreprise">
                </div>
                <mat-error *ngFor="let validation of ValidationMsg.emailEntreprise">
                    <mat-error class="error-message" *ngIf="entrepriseForm.get('emailEntreprise').hasError(validation.type) && (entrepriseForm.get('emailEntreprise').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </div>
            <div class="form-group">
                <label for="telephoneEntreprise">Téléphone de l'entreprise</label>
                <div class="input-group col-12">
                    <span class="input-group-addon fontAw"><i class="fas fa-phone-square"></i></span>
                    <input matInput type="text" id="telephoneEntreprise" class="form-control backg" formControlName="telephoneEntreprise" placeholder="Téléphone de l'entreprise">
                </div>
                <mat-error *ngFor="let validation of ValidationMsg.telephoneEntreprise">
                    <mat-error class="error-message" *ngIf="entrepriseForm.get('telephoneEntreprise').hasError(validation.type) && (entrepriseForm.get('telephoneEntreprise').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </div>
        </div>

    </div>
    <div class="row send">
        <button type="submit" class="btn btn-primary col-sm-4 boutonSend col-sm-offset-4" [disabled]="entrepriseUpdForm.invalid">Modifier</button>
    </div>
</form>