.boutonBloquer {
    width: 80%;
    padding-left: 0px;
    padding-right: 0px;
}

.rowAjout {
    margin-bottom: 3%;
}

.tabListe {
    margin-top: 1%;
    margin-bottom: 1%;
}

.modif {
    font-size: 135%;
}

.fontAwsModif {
    font-size: 135%;
}

.table th,
.table td {
    text-align: center;
}