.boutonSend {
    font-size: 120%;
}

.entrepriseForm {
    margin-top: 0.5%;
    margin-bottom: 1%;
}

.suivant {
    width: 8%;
}

.send {
    margin-left: 0.1%;
    margin-right: 0.1%;
}
.backg{
    background-color: white;
    border:1px solid #0000003b;
    padding:1px;
}
.fontAw{
    background-color: white;
}