.monForm {
    border: 1px solid #a9adad4f;
    margin-top: 10%;
    padding-bottom: 2%;
    background-color: #a7adad21;
    border-radius: 5%;
}

.textBas {
    margin-top: 16%;
}

.authForm {
    background-color: #6c869c;
    margin-top: 10%;
    border: 1px solid rgb(99, 94, 94);
    padding-top: 2%;
    padding-bottom: 1.2%;
    border-radius: 5%;
}

.login-box-body {
    background-color: #a7adad00;
}

.sat {
    font-family: 'Times New Roman', Times, serif;
    background-color: #4352a100;
}