<div class="box box-primary">
    <form class="box-body row" [formGroup]="histoForm">
        <div class="col-sm-3">
            <!-- debut -->
            <div class="form-group">
                <label>Date de début:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <em class="fa fa-calendar"></em>
                    </div>
                    <input type="date" class="form-control pull-right" id="datepicker" formControlName="dateDebut" (change)="onSubmit(1)" [ngClass]="{'error':errorDate=='début','error':lesDeux}">
                </div>
                <!-- /.input group -->
            </div>
            <!-- /.form group -->
        </div>
        <div class="col-sm-3">
            <!-- fin -->
            <div class="form-group">
                <label>Date de fin :</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <em class="fa fa-calendar"></em>
                    </div>
                    <input type="date" class="form-control pull-right" id="reservation" formControlName="dateFin" (change)="onSubmit(2)" [ngClass]="{'error':errorDate=='fin','error':lesDeux}">
                </div>
                <!-- /.input group -->
            </div>
            <!-- /.form group -->
        </div>
        <div class="col-sm-3">
            <!-- fin -->
            <div class="form-group">
                <label>Utilisateur :</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <em class="fa fa-calendar"></em>
                    </div>
                    <select class="form-control pull-right" formControlName="idUser" (change)="onSubmit(1)">
                        <option value="0">Tous les utilisateurs</option>
                        <option *ngFor="let user of users" value="{{user.id}}">{{user.nom}}</option>
                    </select>
                </div>
                <!-- /.input group -->
            </div>
            <!-- /.form group -->
        </div>
        <div class="col-sm-3">
            <!-- operation -->
            <div class="form-group">
                <label>Opération :</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <em class="far fa-money-bill-alt"></em>
                    </div>
                    <select type="text" class="form-control pull-right" id="reservationtime" formControlName="action" (change)="onSubmit(1)">
                  <option value="envois">Envois</option>
                  <option value="retraits">Retraits</option>
                </select>
                </div>
                <!-- /.input group -->
            </div>
        </div>
    </form>
    <!-- /.box-body -->
</div>


<div class="mat-elevation-z8" [hidden]="!afficherEnvois">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- nomClientEmetteur Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date envois</th>
            <td mat-cell *matCellDef="let row"> {{row.dateEnvoi | date:'dd-MM-yyyy'}} </td>
        </ng-container>

        <!-- nomClientEmetteur Column -->
        <ng-container matColumnDef="nomClientEmetteur">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom emetteur </th>
            <td mat-cell *matCellDef="let row"> {{row.nomClientEmetteur}} </td>
        </ng-container>

        <!-- telephoneEmetteur Column -->
        <ng-container matColumnDef="telephoneEmetteur">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone emetteur </th>
            <td mat-cell *matCellDef="let row"> {{row.telephoneEmetteur}} </td>
        </ng-container>

        <!-- nomClientRecepteur Column -->
        <ng-container matColumnDef="nomClientRecepteur">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom recepteur </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.nomClientRecepteur}} </td>
        </ng-container>

        <!-- telephoneRecepteur Column -->
        <ng-container matColumnDef="telephoneRecepteur">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone recepteur </th>
            <td mat-cell *matCellDef="let row"> {{row.telephoneRecepteur}} </td>
        </ng-container>

        <!-- nciEmetteur Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code transaction</th>
            <td mat-cell *matCellDef="let row"> {{row.code}} </td>
        </ng-container>

        <!-- telephoneRecepteur Column -->
        <ng-container matColumnDef="montant">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
            <td mat-cell *matCellDef="let row"> {{row.montant | number}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">

        </tr>

    </table>

    <mat-paginator [pageSizeOptions]="[6,10, 15, 25, 100]"></mat-paginator>
</div>

<div class="mat-elevation-z8" [hidden]="!afficherRetraits">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- nomClientEmetteur Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date retraits</th>
            <td mat-cell *matCellDef="let row"> {{row.dateReception | date:'dd-MM-yyyy'}} </td>
        </ng-container>

        <!-- nomClientEmetteur Column -->
        <ng-container matColumnDef="nomClientEmetteur">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom emetteur </th>
            <td mat-cell *matCellDef="let row"> {{row.nomClientEmetteur}} </td>
        </ng-container>

        <!-- telephoneEmetteur Column -->
        <ng-container matColumnDef="telephoneEmetteur">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone emetteur </th>
            <td mat-cell *matCellDef="let row"> {{row.telephoneEmetteur}} </td>
        </ng-container>

        <!-- nomClientRecepteur Column -->
        <ng-container matColumnDef="nomClientRecepteur">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom recepteur </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.nomClientRecepteur}} </td>
        </ng-container>

        <!-- telephoneRecepteur Column -->
        <ng-container matColumnDef="telephoneRecepteur">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone recepteur </th>
            <td mat-cell *matCellDef="let row"> {{row.telephoneRecepteur}} </td>
        </ng-container>

        <!-- nciEmetteur Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code transaction</th>
            <td mat-cell *matCellDef="let row"> {{row.code}} </td>
        </ng-container>

        <!-- telephoneRecepteur Column -->
        <ng-container matColumnDef="montant">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
            <td mat-cell *matCellDef="let row"> {{row.montant | number}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;">

        </tr>

    </table>

    <mat-paginator [pageSizeOptions]="[6,10, 15, 25, 100]"></mat-paginator>
</div>