<div class="row grosseDiv">
    <div class="col-sm-6 ">
        <form [formGroup]="depotForm" (ngSubmit)="onSubmit()" class="depot depotForm">
            <div class="form-group">
                <label for="compte">Numéro de compte</label>
                <div class="input-group col-sm-12">
                    <span class="input-group-addon fontAw"><i class="fas fa-sort-numeric-up"></i></span>
                    <input type="text" (change)="getDepotCaissierCompte($event.target.value)" matInput id="compte" class="form-control backg" formControlName="compte" placeholder="Ex: xxxx xxxx xxxx">
                </div>
                <mat-error *ngFor="let validation of ValidationMsg.compte">
                    <mat-error class="error-message" *ngIf="depotForm.get('compte').hasError(validation.type) && (depotForm.get('compte').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </div>
            <div class="form-group">
                <label for="montant">Montant</label>
                <div class="input-group col-sm-12">
                    <span class="input-group-addon fontAw"><i class="fas fa-file-invoice-dollar"></i></span>
                    <input type="number" matInput id="montant" min="75000" class="form-control backg" formControlName="montant" placeholder="Montant">
                </div>
                <mat-error *ngFor="let validation of ValidationMsg.montant">
                    <mat-error class="error-message" *ngIf="depotForm.get('montant').hasError(validation.type) && (depotForm.get('montant').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </div>
            <div class="row send">
                <button type="submit" class="btn btn-primary col-sm-4 boutonSend col-sm-offset-4" [disabled]="depotForm.invalid && isCompte">Créditer</button>
            </div>
        </form>
        <div class="box box-success" *ngIf="isCompte">
            <!-- /.box-header -->
            <div class="box-body">

                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-3">
                            <mat-form-field class="col-10">
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>

                        <!-- raisonSociale Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                            <td mat-cell *matCellDef="let row"> {{row.date | date:'dd-MM-yyyy'}} </td>
                        </ng-container>

                        <!-- ninea Column -->
                        <ng-container matColumnDef="montant">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
                            <td mat-cell *matCellDef="let row"> {{row.montant | number}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>

                    </table>

                    <mat-paginator [pageSizeOptions]="[10, 15, 25, 100]"></mat-paginator>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-sm-6 partForm box-primary" *ngIf="charger">
        <p class="text-center textInfo">Information générale du partenaire</p>
        <form [formGroup]="entrepriseForm" class="depotForm">
            <div class="row">
                <div class="form-group">
                    <label for="raisonSociale">Raison Sociale</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="far fa-building"></i></span>
                        <input type="text" id="raisonSociale" class="form-control" formControlName="raisonSociale" placeholder="Raison Sociale" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ninea">NINEA</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="fas fa-check"></i></span>
                        <input type="text" id="ninea" class="form-control" formControlName="ninea" placeholder="ninea" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="adresse">Adresse</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="fas fa-map-marker-alt"></i></span>
                        <input type="text" id="adresse" class="form-control" formControlName="adresse" placeholder="Adresse" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="emailEntreprise">Email de l 'entreprise</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="text" id="emailEntreprise" class="form-control" formControlName="emailEntreprise" placeholder="Email de l 'entreprise" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="telephoneEntreprise">Téléphone de l'entreprise</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="fas fa-phone-square"></i></span>
                        <input type="text" id="telephoneEntreprise" class="form-control" formControlName="telephoneEntreprise" placeholder="Téléphone de l'entreprise" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="soldeActu">Solde du compte</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="fas fa-file-invoice-dollar"></i></span>
                        <input type="text" id="soldeActu" class="form-control" formControlName="soldeActu" placeholder="Solde du compte" readonly>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>