<div class="row grosseDiv">
    <div class="col-sm-6 ">
        <form [formGroup]="depotForm" (ngSubmit)="onSubmit()" class="depot depotForm">
            <div class="form-group">
                <label for="numeroCompte">Numéro de compte</label>
                <div class="input-group col-sm-12">
                    <span class="input-group-addon"><i class="fas fa-sort-numeric-up"></i></span>
                    <input type="text" id="numeroCompte" class="form-control" formControlName="numeroCompte" placeholder="Numéro de compte">
                </div>
            </div>
            <div class="form-group">
                <label for="ninea">Montant</label>
                <div class="input-group col-sm-12">
                    <span class="input-group-addon"><i class="fas fa-file-invoice-dollar"></i></span>
                    <input type="text" id="montant" class="form-control" formControlName="montant" placeholder="Montant">
                </div>
            </div>
            <div class="row send">
                <button type="submit" class="btn btn-primary col-sm-4 boutonSend col-sm-offset-4">Créditer</button>
            </div>
        </form>
        <div class="box box-success">
            <!-- /.box-header -->
            <div class="box-body">
                <table #dataTable class="display cell-border" style="width:100%">
                    <caption>Historiques de mes dêpots sur ce compte</caption>
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>25/08/2019</td>
                            <td>1,500,000</td>
                        </tr>
                        <tr>
                            <td>20/08/2019</td>
                            <td>500,000</td>
                        </tr>
                        <tr>
                            <td>10/08/2019</td>
                            <td>100,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-sm-6 partForm box-primary">
        <p class="text-center textInfo">Information générale du partenaire</p>
        <form [formGroup]="entrepriseUpdForm" class="entrepriseForm">
            <div class="row">
                <div class="form-group">
                    <label for="raisonSociale">Raison Sociale</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="far fa-building"></i></span>
                        <input type="text" id="raisonSociale" class="form-control" formControlName="raisonSociale" placeholder="Raison Sociale" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ninea">NINEA</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="fas fa-check"></i></span>
                        <input type="text" id="ninea" class="form-control" formControlName="ninea" placeholder="ninea" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="adresse">Adresse</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="fas fa-map-marker-alt"></i></span>
                        <input type="text" id="adresse" class="form-control" formControlName="adresse" placeholder="Adresse" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="emailEntreprise">Email de l 'entreprise</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="text" id="emailEntreprise" class="form-control" formControlName="emailEntreprise" placeholder="Email de l 'entreprise" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="telephoneEntreprise">Téléphone de l'entreprise</label>
                    <label for="adresse">Adresse</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="fas fa-phone-square"></i></span>
                        <input type="text" id="telephoneEntreprise" class="form-control" formControlName="telephoneEntreprise" placeholder="Téléphone de l'entreprise" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="soldeActu">Solde du compte</label>
                    <div class="input-group col-12">
                        <span class="input-group-addon"><i class="fas fa-file-invoice-dollar"></i></span>
                        <input type="text" id="soldeActu" class="form-control" formControlName="soldeActu" placeholder="Solde du compte" readonly>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>